.base
{
    height:400px;
    background-image:url('/img/city_social.png');
    background-repeat:repeat-x;
    background-position:center bottom;
    background-color:white;
}
.intro
{
    color:gray;
}
.hidden
{
    display: none;
}
.fullwidthimage img
{
    width: 100%;
    max-width: 640px;
}
.fullwidthimage .ui-collapsible-content 
{
    padding: 0px;
}
.fullwidthimage .ui-collapsible-content div
{
    padding: 10px 15px;
}