html, body { background-color: #FFFFFF !important;}

img
{
    border-style: none;
}

@media only screen and (min-width: 550px) {
    .ui-page {
        width: 550px !important;
        margin: 0 auto !important;
        position: relative !important;
    }
    .ui-header-fixed, .ui-footer-fixed {
        width: 550px !important;
        margin: 0 auto !important;
    }
    .ui-btn {
        margin-right: 0px !important;
    }
    .fullwidthimage  {
        max-width:550px;
        display: block;
    }
}

.base
{
    height:400px;
    background-image:url('../img/city_social.png');
    background-repeat:repeat-x;
    background-position:center bottom;
    background-color:white;
}
.intro
{
    color:gray;
}
.hidden
{
    display: none;
}
.fullwidthimage img
{
    max-width: 100%;
    display: block;
}
.fullwidthimage .ui-collapsible-content 
{
    padding: 0px !important;
}
.fullwidthimage .ui-collapsible-content .ui-controlgroup-horizontal,.fullwidthimage .ui-collapsible-content .ui-radio
{
    padding: 0px;
}
.fullwidthimage .ui-collapsible-content div
{
    padding: 10px 15px;
}
@media print
{
    .ui-footer, .ui-navbar, .ui-collapsible-heading-status {
        display: none;
    }
}

