<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "net.credomobiel"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Credomobiel</name>

    <description>
        Mobiele apps, studiemateriaal en informatiebronnen voor de katholieke gelovige met een smartphone of tablet. 
    </description>

    <author href="http://www.credomobiel.net" email="vicmortelmans@gmail.com">
        Vic Mortelmans 
    </author>

    <preference name="android-installLocation" value="auto" />

    <icon src="favicon.png"/>

    <!-- If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires. -->
    <preference name="permissions" value="none"/>

    <!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    

</widget>

